/** @format */

:root {
  --fonts-sz-default: 14px;
  --fonts-weight-default: 400;
  --line-heigh-default: 1;

  --font-default: sans-serif;
  --font-monserat: "Montserrat", var(--font-default);

  --black: rgba(36, 31, 31, 1);
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(224, 219, 219, 1);
  --gray-dark: rgba(107, 102, 99, 1);
  --gray-light: rgba(252, 250, 250, 1);
  --orange: rgba(235, 80, 62, 1);
  --orange-light: rgba(227, 165, 158, 1);
  --transparent: rgba(0, 0, 0, 0);
  --red: rgb(255, 0, 0, 1);
  --pink: rgba(252, 230, 228, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  outline: none !important;
}

html,
body {
  max-width: 100vw;
  width: 100vw;
  height: 100%;
  font-size: var(--fonts-sz-default);
  font-weight: var(--fonts-weight-default);
  line-height: var(--line-heigh-default);
  font-family: var(--font-monserat);
  user-select: none;
  overflow: hidden;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);

  & #root {
    width: 100%;
  }
}

a,
button {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
ol,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

input,
textarea {
  font-size: var(--fonts-sz-default);
}

input,
textarea,
button {
  border-radius: 0;
  font-family: var(--font-monserat);
}

iframe {
  display: none !important;
}
