---
import { data } from "./data";

const { text, price } = data;
---

<div class="show-stars">
  <input
    class="show-stars__input"
    id="show-stars"
    type="checkbox"
    name="show-stars"
    data-price={price ? price : 0}
  />
  <label for="show-stars" class="show-stars__label">
    <span class="show-stars__label-icon">
      <svg
        class="show-stars__label-svg"
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M4.75 1.5C2.95507 1.5 1.5 2.95507 1.5 4.75V16.75C1.5 18.5449 2.95507 20 4.75 20H16.75C18.5449 20 20 18.5449 20 16.75V7.75C20 7.33579 20.3358 7 20.75 7C21.1642 7 21.5 7.33579 21.5 7.75V16.75C21.5 19.3734 19.3734 21.5 16.75 21.5H4.75C2.12665 21.5 0 19.3734 0 16.75V4.75C0 2.12665 2.12665 0 4.75 0H15.75C16.1642 0 16.5 0.335786 16.5 0.75C16.5 1.16421 16.1642 1.5 15.75 1.5H4.75Z"
          fill="#EB503E"></path>
      </svg>
      <svg
        class="show-stars__label-svg show-stars__label-svg--ok"
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M20.5018 2.44254C20.8096 2.71963 20.8346 3.19385 20.5575 3.50173L12.8199 12.0991C11.8454 13.1819 10.1955 13.3168 9.05793 12.4068L5.53151 9.58566C5.20806 9.3269 5.15562 8.85493 5.41438 8.53149C5.67313 8.20804 6.1451 8.1556 6.46855 8.41436L9.99497 11.2355C10.512 11.6492 11.262 11.5878 11.705 11.0956L19.4426 2.49828C19.7197 2.1904 20.1939 2.16544 20.5018 2.44254Z"
          fill="#EB503E"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5 1.75C3.20507 1.75 1.75 3.20507 1.75 5V17C1.75 18.7949 3.20507 20.25 5 20.25H17C18.7949 20.25 20.25 18.7949 20.25 17V8C20.25 7.58579 20.5858 7.25 21 7.25C21.4142 7.25 21.75 7.58579 21.75 8V17C21.75 19.6234 19.6234 21.75 17 21.75H5C2.37665 21.75 0.25 19.6234 0.25 17V5C0.25 2.37665 2.37665 0.25 5 0.25H16C16.4142 0.25 16.75 0.585786 16.75 1C16.75 1.41421 16.4142 1.75 16 1.75H5Z"
          fill="none"></path>
      </svg>
    </span>
    <span class="show-stars__label-text">{text}</span>
  </label>
</div>
<style lang="scss">
  @import "../styles/settings";

  .show-stars {
    width: 100%;

    @include des {
      margin-bottom: d(22);
    }

    @include mob {
    }

    &__input {
      display: none;

      &:checked + .show-stars__label .show-stars__label-svg--ok {
        opacity: 1;
      }
    }

    &__label {
      display: flex;
      align-items: center;

      @include des {
        padding: d(20) 0;
      }

      @include mob {
      }

      &-icon {
        position: relative;
        aspect-ratio: 1/1;

        @include des {
          width: d(22);
          margin-right: d(12);
        }

        @include mob {
        }
      }

      &-svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &--ok {
          transition: opacity 0.3s ease 0s;
          opacity: 0;
        }
      }
    }
  }
</style>
