---
import { data } from "./data";

const { title, price, checked } = data;
---

<div class="add-mount">
  <h2 class="add-mount__title">{title}</h2>
  <div class="add-mount__wrap">
    <span class="add-mount__price">+&nbsp;{price ? price : 0}&nbsp;₽</span>
    <div class="add-mount__action">
      <input
        class="add-mount__action-input"
        id="add-mount"
        type="checkbox"
        name="add-mount"
        data-price={price ? price : 0}
        checked={checked ? checked : false}
        data-add-mount
      />
      <label for="add-mount" class="add-mount__action-label">
        <span class="add-mount__action-el"></span>
      </label>
    </div>
  </div>
</div>
<style lang="scss">
  @import "../styles/settings";

  .add-mount {
    width: 100%;
    border-color: #e0dbdb;
    border-style: solid;
    background-color: #fcfafa;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include des {
      height: d(64);
      padding: d(16);
      border-radius: d(20);
      border-width: d(1);
      margin-bottom: d(40);
    }

    @include mob {
    }

    &__wrap {
      display: flex;
      align-items: center;

      @include des {
        grid-gap: d(10);
      }

      @include mob {
      }
    }

    &__price {
      color: #6b6663;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;

      @include des {
        font-size: d(15);
        letter-spacing: d(-0.45);
      }

      @include mob {
      }
    }

    &__action {
      &-input {
        display: none;

        &:checked + .add-mount__action-label {
          @include des {
            box-shadow:
              0 0 0 d(2) #fcfafa,
              0 0 0 d(3) #eb503e;
          }

          @include mob {
          }

          & .add-mount__action-el {
            transform: translateX(100%);
            background-color: #eb503e;
          }
        }
      }

      &-label {
        position: relative;
        display: block;
        aspect-ratio: 1/0.5;
        background-color: #fcfafa;
        transition: box-shadow 0.3s ease 0s;

        @include des {
          height: d(28);
          border-radius: d(100);
          box-shadow:
            0 0 0 d(2) #fcfafa,
            0 0 0 d(3) #e0dbdb;
        }

        @include mob {
        }
      }

      &-el {
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #e0dbdb;
        transition: all 0.3s ease 0s;

        @include des {
          height: 100%;
        }

        @include mob {
        }
      }
    }
  }
</style>
